<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="#" class="navbar-brand" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}" 
          routerLink="main">MySpendings</a>
      </div>
      <div class="navbar-default">
          <ul class="nav navbar-nav">
              <li><a href="#" routerLink="bookings">Buchungen</a></li>
              <li><a href="#" routerLink="statistics">Statistik</a></li>
              <!-- <li><a href="#" >Finanzübersicht</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" routerLink="login" *ngIf="loggedIn === false">Anmelden</a></li>
            <li><a  *ngIf="loggedIn === true">{{ name }}</a></li>
            <!-- <li><a href="#" routerLink="register" *ngIf="loggedIn === false">Registrieren</a></li> -->
            <li><a href="#" routerLink="settings">Einstellungen</a></li>
          </ul>
      </div>
  </div>
</nav>