<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="#" class="navbar-brand" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}" 
          routerLink="main">MySpendings</a>
      </div>
      <div class="navbar-default">
          <ul class="nav navbar-nav">
              <li><a href="#" routerLink="bookings">Buchungen</a></li>
              <li><a href="#" routerLink="statistics">Statistik</a></li>
              <li><a href="#" (click)="onShowComponent('finanz')">Finanzübersicht</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" routerLink="login">Anmelden</a></li>
            <li><a href="#" routerLink="register">Registrieren</a></li>
            <li><a href="#" routerLink="settings">Einstellungen</a></li>
          </ul>
      </div>
  </div>
</nav>