<div class="container">
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"><h3>Kategorie hinzufügen:</h3></div>
  </div>
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <label>Bezeichnung:</label>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" #inputKategorie>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <button class="btn btn-primary" (click)="onAddCat(inputKategorie)">Hinzufügen</button>
    </div>      
  </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-5 col-md-offset-0"><hr width="70%"></div>
      
    
    
 
 
  <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"><h3>Kategorie entfernen:</h3></div>   
  </div>
    
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <label>Kategorie:</label>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <select #inputSelKat>
          <option value = "unselected"> Auswählen </option>
          <option *ngFor="let kat of categories" [value] = "kat.name">
            {{ kat.name }}
          </option>
        </select>
     </div>
    </div>
     <br>
     <div class="row">
     <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <button class="btn btn-danger" (click)="onDelCategorie(inputSelKat)">Löschen</button>
      </div>
    </div>
   
</div>
