<app-header (showComponent)="setComponent($event)"></app-header>
<!--
<app-booking *ngIf="component === 'bookings'"></app-booking>
<app-settings *ngIf="component === 'settings'"></app-settings>
<app-statistics *ngIf="component === 'stats'"></app-statistics>
<app-finanz *ngIf="component === 'finanz'"></app-finanz>
<app-main *ngIf="component === 'main'"></app-main>
<app-login *ngIf="component === 'login'"></app-login>
<app-register *ngIf="component === 'register'"></app-register> -->
<router-outlet></router-outlet>